<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="image-container">
    <div>
        
 
    <ion-grid style=" display: flex;justify-content: center;margin-top: 40px;margin-left: 10px;margin-right: 10px;">
      <ion-row>
        <ion-col align-self-center>
          <ion-item lines="full">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label position="floating">email</ion-label>
            <ion-input type="email" required #email></ion-input>
          </ion-item>
      
          <ion-item lines="full" >
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required #password ></ion-input>
        
        <ion-icon class="show-option" [hidden]="false" name="eye-off-outline" slot="end" ></ion-icon>
         
          </ion-item>
      
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="danger" expand="block" >Sign In</ion-button>
              <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a><a [routerLink]="['signup']" class="small-text">dont have an an account?</a>
            </ion-col>
          </ion-row>
      
        </ion-col>
        </ion-row>
        </ion-grid>
    </div>
</div>
</ion-content>
